* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #8ab66b;
  margin: 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 5% 80% 5%;
  height: 100%;
}

main {
  display: grid;
  grid-gap: 1em;
  grid-column: 2/3;
  grid-template-rows: 10% 5% 70%;
}

.leader-board {
  grid-row: 1/2;
  grid-column: 1/2;
}

.refresh {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #8ab66b;
    margin: 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
  }

  main {
    display: grid;
    grid-gap: 1em;
    grid-column: 2/3;
    grid-template-rows: 10% 5% 70%;
  }

  .leader-board {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .outer-cont {
    display: grid;
    grid-gap: 1em;
    grid-row: 3/4;
    grid-column: 1/2;
    grid-template-rows: 15% 85%;
    grid-template-columns: 40% 20% 30%;
  }

  .refresh {
    display: flex;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .add-score {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

h1 {
  color: rgb(46, 40, 44);
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
}

.refresh > h2 {
  font-size: 30px;
  font-weight: 600;
}

.add-score > h2 {
  font-size: 24px;
  font-weight: 600;
}

.add-score input {
  margin-bottom: 1em;
}

.add-score button {
  align-self: flex-end;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  text-align: center;
}

table {
  width: 100%;
}

.t-header {
  font-weight: bolder;
}
