* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: powderblue;
}
h1 {
  color: rgb(255, 0, 191);
  font-style: normal;
  margin-left: 6em;
}

#outer-cont {
  display: flex;
  justify-content: space-around;
}

#refresh {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width : 130%;
}



#add-score {
  display: flex;
  flex-direction: column;
}

#add-score input {
  margin-bottom: 1em;
}

#add-score button {
  width: 4em;
  align-self: flex-end;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center;
}

table {
  width: 130%;
}


